<%= form_for @status, :role => "form", :class => "form-horizontal" do |f|%>

<% if !@status.errors.empty? %>
	<div class="alert alert-danger">
		<% @status.errors.full_messages.each do |message|%>
		<ul>
			<li><%= message %></li>
		</ul>
		<% end %>
	</div>
<% end %>
		<div class="row">
			<div class = "col-centered">
				<%= f.date_field :date, :value => Time.now.strftime("%Y-%m-%d"), :class => "form-date" %>
			</div>
		</div>

		<div class="row">
			<div class = "col-xs-4">
				<div class = "col-centered">
					<%= image_tag "dairy.png", :class => "food-form" %>
					<%= f.check_box :dairy %>
				</div>
			</div>
			<div class = "col-xs-4">
				<div class = "col-centered">
					<%= image_tag "wheat.png", :class => "food-form" %>
					<%= f.check_box :wheat %>
				</div>
			</div>
			<div class = "col-xs-4">
				<div class = "col-centered">
					<%= image_tag "meat.png", :class => "food-form" %>
					<%= f.check_box :meat %>
				</div>
			</div>
		</div>

	<div class="row">
		<div class="col-centered">
			<%= image_tag "coffee_cups.png", :class => "food-form" %>
			<%= f.number_field :coffee_cups, :value => 0, :class=>"form-coffee" %>
		</div>
	</div>

	<p>
		<%= f.label :rating, 'Today\'s Rating (1-10):' %>
		<%= f.number_field :rating%>
	</p>

	<p>
		<%= f.label :notes, "Additional Notes:" %>
		<%= f.text_area :notes %>
	</p>

	<%= f.submit %>
<% end %>