<%= form_for @status do |f|%>

<% if !@status.errors.empty? %>
	<div class="alert alert-danger">
		<% @status.errors.full_messages.each do |message|%>
		<ul>
			<li><%= message %></li>
		</ul>
		<% end %>
	</div>
<% end %>
	<p><%= f.label :date, "Date" %>
		<%= f.date_field :date, :value => Time.now.strftime("%Y-%m-%d")%></p>

	<p><%= f.label :dairy, 'Dairy' %>
		<%= f.check_box :dairy %></p>

	<p><%= f.label :wheat, 'Wheat' %>
		<%= f.check_box :wheat %></p>

	<p>
		<%= f.label :meat, 'Meat' %>
		<%= f.check_box :meat %>
	</p>

	<p>
		<%= f.label :coffee_cups, 'Cups of Coffee' %>
		<%= f.number_field :coffee_cups %>
	</p>

	<p>
		<%= f.label :rating, 'Today\'s Rating (1-10):' %>
		<%= f.number_field :rating%>
	</p>

	<p>
		<%= f.label :notes, "Additional Notes:" %>
		<%= f.text_area :notes %>
	</p>

	<%= f.submit %>
<% end %>