<div class="row">

<!-- Panel containing form -->
<% if signed_in? %>
	<div class="col-md-6">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Rate a day
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Daily Levels
				</div>
				<div class="panel-body">
					ADD HIGHCHART WITH LEVELS
				</div>
			</div>
		</div>

	</div>

<!-- Panel containing table -->

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Recent Entries
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Rating</th>
							<th>Info</th>
						</tr>
					</thead>
					<tbody>
					<% @statuses.order(date: :desc).first(10).each do |status| %>
						<tr class="clickableRow" href=<%= status_path(status) %>>
							<td><%= status.date %></td>
							<td><%= status.rating %></td>
							<td><% icon_chooser(status).each do |icon| icon %>
								<img class="food-icon" src="assets/<%= icon %>.png">
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<% else %>
	<div class="jumbotron">
  	<h1>Daily Levels</h1>
  <p>A simple tracker to learn more about how your food consumption affects your happiness </p>
  <p><a href = <%= signup_path %> class="btn btn-primary btn-lg" role="button">Sign Up</a>
  <a href = <%= signin_path %> class="btn btn-primary btn-lg" role="button">Sign In</a></p>
</div>
	<% end %>
<!-- End Panel containing table -->

</div>
<!-- end row -->
